.statut-available {
    background-color: #28a745;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 0.25rem;
}

.statut-in-preparation {
    background-color: #ffc107;
    color: black;
    padding: 0.25em 0.5em;
    border-radius: 0.25rem;
}

.statut-unavailable {
    background-color: #dc3545;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 0.25rem;
}
